snippet stan_linearmodel "linear regression with gaussian errors" b
// pg 33
data {
	int<lower=0> N; // number of objservations
	int<lower=0> K; // number of predictors (including intercept)
	matrix[N, K] X; // predictor matrix
	vector[N] y; // Observations
}

parameters {
	vector[K] beta;
	real<lower=0> sigma;
}

transformed parameters {
}

model {
	// beta ~ normal(0, 1000);
	// sigma ~ normal(0, 1000);
	y ~ normal(X * beta, sigma);
}

generated quantities {
}
endsnippet
